<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
  </head>
  
  <body>
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
      </div>
      <div class="company-info">
        <span>WHO <span class="our">ARE WE</span></span>
        <p>
          <b>About</b> 
          “Lumen is the best online Event booking website in India. We have a large database of established Events and upcoming Events  and many more. Regardless of what you pick, our professionalism and experience will ensure that your event is one to remember. You will have the perfect endorsement for your event if you book an Event.”
        </p>
      </div>
    </div>
    
    
    <!-- ----------------------------------------footer------------------------------------------ -->
    <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <span class="logo_name">Lumen</span>
          </div>
          <div class="media-icons">
            <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
            <a target="on_blank" href="https://www.instagram.com/pico_india/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Links</li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'upload' %}">Upcoming Events</a></li>
            <li><a href="{% url 'about' %}">Book/ Create an Event</a></li>
            
  
          </ul>
          <ul class="box">
            <li class="link_name">Event Types</li>
            <li><a href="{% url 'category' 6 %}">Bussiness meetings</a></li>
            <li><a href="{% url 'category' 5 %">Art and Culture</a></li>
            <li><a href="{% url 'category' 11 %">Wedding</a></li>
            <li><a href="{% url 'category' 2 %">Party</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Legal Info</li>
            <li><a href="{% url 'licence' %}">Licence</a></li>
            <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a target="on_blank" href="tel:">+91 000-000-000</a></li>
            <li><a target="on_blank" href="mailto:'connectlumenindia@gmail.com'">contactpicoindia@gmail.com</a></li>
          </ul>
        </div>
      </div>
  
      <!-- <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2021 <a href="#"></a></span>
        </div>
      </div> -->
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
  
  </html>